body{
	background-color: #292F33
	padding-top: 30px;
}
.container{
	width: 250px;
	height: 300px;
	padding: 40px 30px;
	background-color:#fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #000;
	margin-top: 100px;
	margin-right: auto;
	margin-left:auto;
	text-align: center;
	
}
.list{
list-style-type: none;
text-align: center;
margin:auto;
}
.list input{
margin-bottom: 10px;
width: 60%;
height: 30px;


}

div{
width: 250px;
margin-bottom: 15px;

}
div input{
	width: 250px;
	text-align: center;
	padding:  8px 0px;
	border:none;
	background-color: #d3d3d3;
	border-radius: 5px;
}
div input[type="button"]{
	background-color: #4690fb;
	color: #fff;
}
div:nth-child(5){
	color: red;
}